*{ 
    margin: 0;
    padding: 0;
}
.hero{ 
    height: 100vh;
    width: 100%;
    background-color: var(--primaryColor);
    font-family: sans-serif;
    position: relative;
}
nav{ 
    width: 84%; 
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    


}
.moon{ 
    height: 25px;
    width: 25px;
    position: absolute;
    left: 97%;
    top: 2%;
    cursor: pointer;

}
/* Color codes */
:root{ 

    --primaryColor:white; 
    --secondaryColor:black; 

}
.dark-theme{ 
    transition: .5s ease;
    --primaryColor:black; 
    --secondaryColor:white; 
    

}
.logo{ 
    width: 100px;
    cursor: pointer;

}
nav ul li{ 
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
    font-family: sans-serif;
    font-weight: bolder;

}
nav ul li a{ 
    text-decoration: none;
    color: #606163;
    transition: .5s ease;
}
nav ul li a:hover{ 
    color: red;
}
.info{ 
  margin-left: 2%;
  margin-top: 15%;
 

}
.info h1{ 
    font-size: 40px;
    color: var(--secondaryColor);
    margin-bottom: 20px;
}
span{ 
    color: orange;
}
.info p{ 
    color: #606163;
    line-height: 20px;
    position: relative;

    
}

.img-box{ 
    width: 35%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    
}
.img-box img{ 
    height: 100%;
    position: absolute; 
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); 
    transition: bottom 1s, left 1s;
}
.img-box:hover .back-img{ 
    bottom: 40px;
}
.img-box:hover .main-img{
    left: 54%;


}
.social-links{ 
    margin-left:2% ;
    margin-top: 100px;
}
.social-links a{ 
    font-size: 30px;
    color: rgb(82, 82, 82);
    margin-right: 20px;
    
}

.social-links a .fa-facebook:hover{
    color: #1877F2; 
    transition: .9s ease;
}
.social-links a .fa-square-instagram:hover{
    color: #fa7e1e; 
    transition: .9s ease;
}
.social-links a .fa-youtube:hover{
    color: #CD201F; 
    transition: .9s ease;
}
.social-links a .fa-square-snapchat:hover{
    color: #FFFC00; 
    transition: .9s ease;
}
@media (max-width:767px) {
    .img-box{ 
        width: 10%;
        height: 30%;
        
        position: absolute;
        top: 30%; 
        bottom: 0%;

    }
   
    .hero h1{ 
        width: 10%;
        font-size: 200;
    }
    nav{ 
        display: flex;
    }
    .moon{ 
        position: absolute;
        left: 90%;

    }
    p{ 
        width: 50%;
    }
    .hero{ 
        height: 70%;
        width: auto;
    }
    .social-links a{ 
        position: relative;
        top: 20%;
    }
}
@media (max-width:574px) {
    .footer{ 
        width: 100%;
    }
    
}
